{{- if .Values.loki.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: loki-gateway
  namespace: {{ .Values.namespace }}
  labels:
    app: loki
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3100
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: loki
{{- end }}














